* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* SAP NOVO */

/* body {
    overflow: hidden;
}
*/

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 0.5%;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.double-box{
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 33.3%;
    color: blue;
    font-weight: 600;
}

.corner-border {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.long-box{
    background-color: #d8d9fd;
    width: 66.6%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.small-box{
    background-color: #d8d9fd;
    width: 33.3%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

h3{
   font-family: Verdana;
   font-size: larger;
}

.intro{
    display: flex;
    gap: 10px;
}

#ola-tudo{
    margin-top: 3%;
    font-size: 25px;
    width: 40%;
    height: 100%;
}

#but-ola-tudo{
    display: flex;
    height: max-content;
    margin-top: 10px;
}

#seta-fale-comigo{
    height: 35px;
    width: 35px;
    margin-left: -25px;
}

#fale-comigo{
    background-color: blue;
    color: #fafafa;
    border-style: none;
    text-align: center;
    height: 30px;
    width: 70%;
    border-radius: 100px;
    align-self: center;
    font-weight: 300;
}

#como-posso{
    margin-top: 15px;
}

.roboz{
    height: 100%;
}

.opcoes-ola{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 5%;
}

.but-opcoes-ola{
    background-color: blue;
    color: #fafafa;
    border-style: none;
    width: 60%;
    margin-top: 10px;
    height: 30px;      
    border-radius: 100px;
    margin-left: 20%;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: medium;
}       

.seta{
    background-color: #fafafa;
    border-style: none;
    height: 30px;
    width: 30px;
    margin-left: -3px;
    border-radius: 150px;
}

.info-pedidos{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 95%;
    margin-left: 10px;
    margin-right: 50px;
}

.item-pedido{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    height: 40px;
    border-radius: 7px;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
}

.status-pedidos-recentes{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 17%;
    border-radius: 5px;
    height: 70%;
    font-weight: 700;
}


.dark-txt{
    color: black;
    font-weight: 800;
    font-size: medium;
}

#status-pedidos-recentes-ver{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 17%;
    border-radius: 5px;
    height: 70%;
    font-weight: 700;
}

#status-pedidos-recentes-ama{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 17%;
    border-radius: 5px;
    height: 70%;
    font-weight: 700;
}

.titulo-box{
    display: flex;
    justify-content: space-between;
}

.ultimas-compras{
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.imagem-produto{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 13%;
    margin-top: 50px;
}

.pedidos{
    display: flex;
    flex-direction: column;
}

.alert-container{
    background-color: #fafafa;
    display: flex;
    height: 15%;
    margin-top: 1%;
    border-radius: 10px;
    padding: 5px;
}

.alert-container-texts{
    width: 100%;
    padding: 1%;
}

.alert-container-date{
    font-size: 10px;
    color: gray;
    width: 7%;
}

.alert-container-name{
    width: 100%;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.alert-container-message{
    font-size: 10px;
    color: gray;
    margin-top: 5px;
}

.status-pedidos-box{
    background-color: #fafafa;
    display: flex;
    padding: 1%;
    border-radius: 10px;
    margin-top: 5px;
}

h4{
    color: black;
}

.status-id-pedidos{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.etapas-status-pedidos{
    width: 100%;
}

.status-pedidos-colorido{
    display: flex;
}

.linha-padrao{
    background-color: blue;
    width: 25%;
    height: 5px;
    align-self: center;
}

.linha-verde{
    background-color: greenyellow;
    width: 25%;
    height: 5px;
    align-self: center;
}

.linha-amarela{
    background-color: greenyellow;
    width: 25%;
}

.bola-amarela{
    background-color: orange;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    align-self: center;
    color: white;
}

.bola-padrao{
    background-color: white;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    align-self: center;

}

.bola-verde{
    background-color: green;
    color: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    align-self: center;
}

.etapas-img-status-pedidos{
    width: 100%;
    height: 27px;
}

.txt-status-pedidos{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

/*------------- ------------------------ ------------------ -SAP ANTIGO- -------------------- --------------------- ---------------------*/

#old-header {
    width: 100vw;
    height: auto;
    padding-left: 1%;
    background-color: #dddddd;
}

#protective-tape {
    width: 100vw;
    height: 20px;
    background-color: yellow;
}

.button-menu {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    background-color: #dddddd;
}

.old-buttons {
    border-radius: 0%;
}