* {
    padding: 0%;
    margin: 0%;
}

/* SAP NOVO */

/* body {
    overflow: hidden;
}
*/

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 0.5%;
}

.double-box{
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 33.3%;
    color: blue;
}

.corner-border {
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
}

.long-box{
    background-color: #d8d9fd;
    width: 66.6%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.small-box{
    background-color: #d8d9fd;
    width: 33.3%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}


.intro{
    display: flex;
    gap: 10px;
}

#ola-tudo{
    margin-top: 50px;
    font-size: 25px;
    width: 40%;
}

.roboz{
    height: 100%;
}

.opcoes-ola{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.but-opcoes-ola{
    background-color: blue;
    color: #fafafa;
    border-style: none;
    width: 60%;
    margin-top: 10px;
    height: 30px;      
    border-radius: 100px;
}       

.info-pedidos{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.item-pedido{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 40px;
    border-radius: 10%;
    text-align: center;

}

.titulo-box{
    display: flex;
    justify-content: space-between;
}

.ultimas-compras{
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.imagem-produto{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 13%;
    margin-top: 50px;
}


.pedidos{
    display: flex;
    flex-direction: column;
}

/*------------- ------------------------ ------------------ -SAP ANTIGO- -------------------- --------------------- ---------------------*/

#old-header {
    width: 100vw;
    height: auto;
    padding-left: 1%;
    background-color: #dddddd;
}

#protective-tape {
    width: 100vw;
    height: 20px;
    background-color: yellow;
}

.button-menu {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    background-color: #dddddd;
}

.old-buttons {
    border-radius: 0%;
}